:root {
    --c1: #ffc506;
    --c2: #000000;
    --c3: #666;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: var(--c2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .reserva-container {
    background-color: var(--c3);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
  }
  
  .reserva-container h2 {
    text-align: center;
    color: var(--c1);
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #fff;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
  }
  
  button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: var(--c1);
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #e0b900;
  }
  
  .mensagem-sucesso {
    margin-top: 20px;
    padding: 15px;
    background-color: var(--c1);
    color: #000;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    transition: opacity 0.3s ease;
  }
  
  .hidden {
    display: none;
    
  }
  